<div class="section-nav-area">
  <div class="row">
    <div class="col-md-12">
      <h3>Indicator</h3>
      <p>Detailed information regarding the top indicators</p>

      <nav>
        <ul>
          <li>
            <%= link_to "Preventation", "#" %>
          </li>
          <li>
            <%= link_to "Population", "#" %>
          </li>
          <li>
            <%= link_to "PMTCT", "#" %>
          </li>
          <li>
            <%= link_to "treatment", "#" %>
          </li>
          <li>
            <%= link_to "spending", "#" %>
          </li>
          <li>
            <%= link_to "gender", "#" %>
          </li>
          <li>
            <%= link_to "S & D", "#" %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>